/* slider styles */
#about-me-wrapper {
  position: absolute;
  bottom: 50px;
  z-index: 100;
	width: 100%;
	text-align: center;
} 
#about-me-wrapper a {
	background-color: #E66FC2;
	
}
#about-me-wrapper a:link, 
#about-me-wrapper a:visited, 
#about-me-wrapper a:hover, 
#about-me-wrapper a:active {
	background-color: #E66FC2;
	
}

.carousel-caption {
	bottom: 100px;
	
	
}
/*.carousel-caption h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 65px;
}*/

.carousel-caption h2 {
	font-weight: 500;
	font-size: 40px;
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

